@model IEnumerable<WebApplication1.Models.Model1>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Model1Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Model1Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Model1ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Model1ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Model1ID })
        </td>
    </tr>
}

</table>
